/*For Mobile device*/

.OneDayForecast{
    height: 100%;
    margin: 0;
    padding: 0px 8%;
    font-size: 12px;
    cursor: pointer;
}

.Day{
    font-weight: bold;
}

.Temp{
    font-size: 10px;
}

.DayType{
    font-size: 9px;
    color: gray;
}

.OneDayForecast img{
    width: 35px;
    height: 35px;
  }

.OneDayForecast:hover{
    border: 1px solid #63bdfa;
}